.mdl-layout--fixed-header>.mdl-layout__header{
    background-color: #ff6600;
}

div.timetable{
    position: absolute;
    top: 80px;
}
div.twitterfeed{
    position: absolute;
    top: 60px;
    z-index: 99;
}