.mdl-layout--fixed-header>.mdl-layout__header{
    background-color: #ff6600;
}

div.page-content{
    padding: 0;
    display: flex;
    justify-content: center;
}

div.overview_boxes{
    margin: 0;
    max-width: 650px;
}

.grey_header{
    background-color: rgb(208, 208, 208);
    color: rgb(118, 118, 118);
    padding: 0.5em;
}

.overview_content{
    padding: 1em;
}

.topic_content{
    padding-bottom: 1em;

}

.topic_title{
    font-size: 1.1em;
    background-color: rgb(255, 98, 0); 
    color: #ffffff;
    padding: 0.3em;
}

.topic_baseline{
    padding-left: 1em;
    font-size: 0.9em;
}

.visibility{
    display: none;
}

.h4_header{
    padding: 0.3em;
    background-color: rgb(208, 208, 208);
    color: rgb(118, 118, 118);
    font-size: 1.5em;
}

.h5_header{
    font-weight: bold;
    color: rgb(118, 118, 118);
    text-transform: uppercase;
    padding-left: 1em;
    font-size: 1.1em;
}

.topic_details{
    padding: 0.7em;
}

.times_content{
    padding-left: 3em;
}

.contacts_content{
    padding-left: 3em;
}

.rounded_corners{
    border: 0.1em solid rgb(208, 208, 208);
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;

}

img{
    width: 100%;
    height: auto;
}

.workshop{
    align-content: center;
}

.overview_box{
    color: #ffffff;
}

.overview_box a:hover{
    color: #ffffff;
    text-decoration: none;
}

.text_box{
    font-size: 1.3em;
    background-color: rgb(255, 98, 0); 
    color: #ffffff;
    padding: 0.5em 0 0.5em 0.5em;
}
