.means{
    padding-left: 2em;
    font-size: 1.1  em;
}

.line{
    padding: 0.1em 2em 0.1em 2em;
    display: block;
    color: rgb(118, 118, 118);
    font-size: 0.8em;
}

.page-content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

#map{
	height: 400px;
	background:yellow; 
	margin-top: 16px;
}
ul{
	list-style-type: none;
}
h5{
	display: block;
}